.venv/Lib/site-packages/psycopg2/__pycache__/desktop.ini
.game/desktop.ini
.hurr-app-site/static/css/desktop.ini
.hurr-app-site/static/logos/desktop.ini
.hurr-app-site/static/scripts/desktop.ini
.hurr-app-site/static/desktop.ini
.hurr-app-site/templates/desktop.ini
.hurr-app-site/desktop.ini